@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-h1: #fbb728;
  --color-h2: #d3d3d3;
  --color-p: #d3d3d3;
}

body {
  font-size: 1.6rem;
  background: black;
}

body * {
  font-family: "Inter", sans-serif;
}

#app {
  margin-inline: auto;
  max-width: 75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.invert {
  transform: scaleX(-1);
}

#cover {
  height: 25vh;
  position: relative;
}

#cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0.8rem 0.8rem;
}

#cover::before {
  content: "";
  width: 30rem;
  height: 12.5rem;
  position: absolute;
  bottom: 0px;
  left: 25px;
  background: url("./assets/dd2.png") no-repeat center/cover;
}

#titles {
  width: 100%;
  padding: 3rem 2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#titles h1 {
  padding-top: 3rem;
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--color-h1);
}

#titles .subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#titles .subtitle h2 {
  color: var(--color-h2);
  font-size: 2rem;
  font-weight: 600;
}

#titles .subtitle img {
  width: 2.5rem;
  height: 2.5rem;
}

#paragraph {
  padding: 3rem 2rem;
  color: var(--color-p);
}

#paragraph p {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
}

#paragraph p strong {
  color: var(--color-h1);
  text-transform: uppercase;
}

#links {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 20rem;
}

#links .link {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  cursor: pointer;
}

#links .link img {
  transition: all 0.2s;
  border-radius: 0.8rem;
}

#links .link:hover img {
  background: white;
}

#links .link .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#links .link .description h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

#links .link .description p {
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-p);
}

.discord {
  color: #5662f6;
}
.telegram {
  color: #1c93e3;
}
.facebook {
  color: #0866ff;
}
.whatsapp {
  color: #0dc143;
}
